@font-face {
  font-family: "Cubano";
  src: url("https://db.onlinewebfonts.com/t/1d65b5646a9a805c62b037be6dd3a0a7.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/1d65b5646a9a805c62b037be6dd3a0a7.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://db.onlinewebfonts.com/t/1d65b5646a9a805c62b037be6dd3a0a7.woff2")
      format("woff2"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/1d65b5646a9a805c62b037be6dd3a0a7.woff")
      format("woff"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/1d65b5646a9a805c62b037be6dd3a0a7.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("https://db.onlinewebfonts.com/t/1d65b5646a9a805c62b037be6dd3a0a7.svg#Cubano")
      format("svg"); /* iOS 4.1- */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
